
.article-image {
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
}

.article-index {
  width: 94%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 4.5%;
  border: solid lightgray 1px;
  font-family: sans-serif;
  background-color: #ffffff;
  // margin-left: 20%;
  // transition: width 0.25s cubic-bezier(0.694, 0.0482, 0.335, 1);
}

.article-index h1 {
  position: relative;
  font-size: 24px;
  max-height: 40px;
  margin-right: auto;
  margin-left: auto;
  border-right: solid lightgray 1px;
  border-bottom: solid lightgray 1px;
  border-left: solid lightgray 1px;
  border-radius: 4px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.article-index-item {
  background-color: white;
  width: 80%;
  margin: 4%;
  display: flex;
  border-color: lightgray;
  color:black;
  border-width: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  // text-align: center;
  vertical-align: top;
  min-width: 50px;
  text-decoration: none;
  box-sizing: border-box;
  outline: 0;
  -webkit-font-smoothing: antialiased;
}

.article-index-item img {
  max-width: 200px;
  margin-right: 1rem;
}

