
.article-image {
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
}

.article-index-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 320px;
  display: flex;
  flex-direction: column;
}

.source-form {
  width: 250px;
  height: 50px;
  // margin-left: auto;  
  // margin-right: auto;  
  margin: 100px auto 10px auto;
  // top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
    input {
      border: black solid 2px;
    }
    :last-child {
      right: 0px;
    }
}

.article-index {
  // width: 95.5%;
  display: flex;
  flex-direction: column;;
  margin: 50px;
  // border: solid lightgray 1px;
  font-family: sans-serif;
  background-color: #ffffff;
  // margin-left: 20%;
  transition: width 0.25s cubic-bezier(0.694, 0.0482, 0.335, 1);
}

.article-index h1 {
  position: relative;
  font-size: 24px;
  max-height: 40px;
  margin-right: auto;
  margin-left: auto;
  border-right: solid lightgray 1px;
  border-bottom: solid lightgray 1px;
  border-left: solid lightgray 1px;
  border-radius: 4px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.article-index-item {
  background-color: white;
  // width: 50%;
  max-width: 700px;
  // height: 20%;
  max-height: 130px;
  margin: 1rem auto 1rem auto;
  display: flex;
  // border-color: lightgray;
  color:#888888;
  // border-width: 1px;
  // border-style: solid;
  font-weight: 700;
  // text-transform: uppercase;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1rem;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  // text-align: center;
  vertical-align: top;
  min-width: 50px;
  text-decoration: none;
  box-sizing: border-box;
  outline: 0;
  -webkit-font-smoothing: antialiased;
}

.article-index-item img {
  max-width: 150px;
  margin-right: 1rem;
  border-radius: 4px;
  border: #888888 solid 1px;
}

#index-item-title {
  font-size: 16px;
  font-weight: 700;
  color: black;
}

