.footer-container {
  color: white;
  position: fixed;
  display: flex;
  bottom: 0px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #61c560;
  height: 3rem;
  box-shadow: 0px 4px 20px 2px black;
  .hide {
    height: .5rem;
  }
}

#me {color:black}

.hide {
  background: #eeeeee;
  transform: translateY(85%);
}

.footer {
  font-size: small;
  font-family: sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background: none;
  div {
    height: 30px;
    display: flex;
    flex-direction: column;
    ul {
      display: flex;
      justify-content: space-between;
    }
    img {
      height: 20px;
      width: 20px;
    }
  }
}

.footer-item {
  margin-left: 2rem;
}