.session-wrapper {
  background-color: rgb(184, 184, 184);
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 725px;
}

.session-img {
  position: absolute;
  background-size: 100% 640px;
  max-height: 640px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.7);
  object-fit: contain;
  background-repeat: no-repeat;
  z-index: 0;
  margin-right: auto;
  margin-left: auto;
}

.filter {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.50);
  z-index: 1;
  width: 100%;
  height: 725px;
  padding-top: 200px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .5rem;
}

.navbar a {
  margin-left: .5rem;
}

.login-signup {
  display: flex;
  align-items: center;
  background-color: white;
  width: auto;
  height: 50px;
}

.login-signup a {
  border-color: #2bb24c;
  color: #2bb24c;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  text-align: center;
  vertical-align: top;
  min-width: 50px;
  text-decoration: none;
  box-sizing: border-box;
  outline: 0;
  -webkit-font-smoothing: antialiased;
}
.login-signup :last-child {
  margin-right: 1rem;
}

.login-signup :first-child {
  margin-right: .5rem;
  color: white;
  background-color: #2bb24c;
}


.login-form-box p {
  font-family: sans-serif;
  color: #494949;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.04em;
  line-height: 1.3em;
  text-align: center;
}

.login-form-box:first-child {
  margin-top: .7em;
}

.login-form-container {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.7);
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  border: 1px solid grey;
  border-radius: 6px;
  background-color: white;
  z-index: 2;
  padding: 1em;
}

.login-form-container > a {
  display: block;
  font-family: sans-serif;
  color: rgba(200, 0, 0, 0.7);
  text-align: right;
}

.login-form > div {
  display: flex;
  margin-top: 1rem;
}

.login-form > div > input {
  display: block;
  font-size: 16px;
  background-color: rgb(232, 240, 254);
  font-family: sans-serif;
  color: #494949;
  font-weight: bold;
  letter-spacing: -0.04em;
  line-height: 20px;
  margin: auto;
  text-align: start;
  width: 250px;
  -webkit-font-smoothing: antialiased;
  margin-top: .5em;
  border-radius: 4px;
  border: solid 1px #80868b;
  padding: 12px 14px;
}

.login-form > div > label {
  display: block;
  position: absolute;
  font-size: 12px;
  font-family: sans-serif;
  margin-left: 2rem;
  background-color: white;
  z-index: 1;
  padding: 0px 8px;
  color: #80868b;
}

.session-submit {
  background-color: #2BB24C;
  color: white;
  cursor: pointer;
  display: block;
  border-radius: 6px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  line-height: 56px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 175px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-transform: uppercase;
}

.demo-user {
  background-color: #2BB24C;
  color: white;
  cursor: pointer;
  display: block;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
  font-family: sans-serif;
  line-height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 120px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-transform: uppercase;
}

.session-switch {
  text-align: center;
  font-family: sans-serif;
  font-size: 10px;
  color: #80868b;
}

.errors li {
  text-align: center;
  text-transform: uppercase;
  color: maroon;
  font-weight: 600;
  font-size: 10px;
  font-family: sans-serif;
}