.side-splash {
  display: flex;
  height: 100%
}

.sidebar {
  background-color: #eeeeee;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  width: 20%;
  font-size: 16px;
  font-family: sans-serif;
  text-transform: uppercase;
}


// .sidebar div {
//   margin-left: 50%;
// }

// .sidebar > a {
//   margin-left: 60%;
// }

// .sidebar div:first-child {
//   margin-top: 100px;
// }

// .sidebar div:last-child {
//   margin-top: 600px;
// }

.sidebar-with-toggle {
  // position: relative;
  transform: inherit;
  background-color: #eeeeee;
  width: 12%;
  height: 100%;
  // height: 1000px;
}

.toggle-sidebar {
  position: fixed;
  top: 50%;
  margin-right: .5em;
  margin-left: 5em;
  font-family: sans-serif;
  font-size: 30px;
}

.toggle-sidebar button {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(116, 116, 116);
  color: rgb(192, 192, 192);
  background: transparent;
  font-size: 48px;
}

.sidebar-hidden {
  display: none;
  width: 0px;
  opacity: 0;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.add-content {
  bottom: 500px;
}

.add-content button {
  top: 50px;
  border-color: #2bb24c;
  color: #2bb24c;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1rem;
  // margin: 1rem, 0rem, 1rem, 1rem;
  // margin-left: 1rem;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  text-align: center;
  vertical-align: top;
  min-width: 100px;
  text-decoration: none;
  box-sizing: border-box;
  outline: 0;
  -webkit-font-smoothing: antialiased;
}