.sidebar {
  //display: none;
  position: absolute;
  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;
  //display: block;
  border: solid lightgray 1px;
  z-index: 5;
  width: 250px;
  overflow-y: scroll;
  background-color: rgba($color: white, $alpha: 0.75);
}

.sidebar a {
  display: flex;
  font-family: sans-serif;
  font-size: 14px;
  text-transform: capitalize;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
}