
.add-source {
  width: 888px;
  margin: 50px auto 10px auto;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.source-form {
  width: 100%;
  height: 50px;
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: row;
  border: #2bb24c solid 1px;
  border-radius: .25rem;
  :first-child {
    flex: 8;
    padding: 10px;
  }
  :last-child {
    border-left: #2bb24c solid 1px;
    flex: 1;
    text-align: center;
  }
  // border: 1px solid blue;
}

.suggestions {
  display: none;
  border-left: 1px solid rgba(0,0,0,0.15);
  border-bottom: 1px solid rgba(0,0,0,0.15);
  border-right: 1px solid rgba(0,0,0,0.15);
  font-family: sans-serif;
  border-radius: .25rem;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
  margin-bottom: 1rem;
}

.source-list {
  font-size: 20px;
  color: #333;
  :first-child {
    font-size: 15px;
    color: #636363;
    margin: 5px 0 5px 0;
  }
  li {
    padding-left: 1rem;
    height: 40px;
    display: flex;
    align-items: center;
  }
}

.hover {
  // border: 1px solid green;
  // cursor: pointer;
  background-color: rgba(0,0,0,0.15);
}

.new-source {
  display: flex;
  justify-content: space-between;
}

.pheed-menu {
  display: flex;
  flex-wrap: wrap;
  transform: translateX(-70%);
  margin-top: 10px;
  padding-top: 20px;
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.7);
  background-color: white;
  li {
    width: 200px;
    padding: 5px;
    text-align: center;
  }
  :first-child {
    font-size: 12px;   
    font-weight: 600;
    color: #2bb24c;
  }
}

.pheed-menu-pointer {
  position: fixed;
  top: -6px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: white;
  transform: rotateZ(45deg);
}

.pheed-menu.open {
  transition: 
    transform .5s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    display .5s cubic-bezier(0.61,-0.19, 0.7,-0.11);
    display: flex;
    transform: translateX(0);
}


.source-details {
  display: flex;
  height: 350px;
  margin-top: 2rem;
  border-left: 1px solid rgba(0,0,0,0.15);
  border-bottom: 1px solid rgba(0,0,0,0.15);
  border-right: 1px solid rgba(0,0,0,0.15);
  border-radius: .25rem;
  padding: 0 1rem 0 1rem;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
  img {
    margin: 1rem 2rem 1rem 0;
    height: 90px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: .25rem;
    padding: .5rem;
  }
}

.hidden {display: none;}

.source-details-details {
  margin-bottom: 1rem;
}

.source-details-description {
  margin-top: 3rem;
}

.source-details-navbar {
  display: flex;
  justify-content: space-between;
}

.source-details-header {
  margin-top: 16px;
  margin-bottom: 2px;
}

.source-details-add-source-button-container {
  max-height: 40px;
  max-width: 85px;
}

.source-details-add-source-button {
  margin-top: 16px;
  border: 1px solid #2bb24c;
  color: #2bb24c;
  text-align: center;
  border-radius: .25rem;
  font-size: 12px;
  font-weight: 600;
  padding: 1rem;
  .highlight {background: rgba(0,0,0,0.15);}
}