
.add-source {
  width: 888px;
  margin: 50px auto 10px auto;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.source-form {
  width: 100%;
  height: 50px;
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: row;
  border: #2bb24c solid 1px;
  border-radius: .25rem;
  :first-child {flex:8}
  :last-child {
    border-left: #2bb24c solid 1px;
    flex: 1;
    text-align: center;
  }
  // border: 1px solid blue;
}

.suggestions {
  display: none;
  padding-left: 1rem;
  border-left: 1px solid rgba(0,0,0,0.15);
  border-bottom: 1px solid rgba(0,0,0,0.15);
  border-right: 1px solid rgba(0,0,0,0.15);
  font-family: sans-serif;
  border-radius: .25rem;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
}

.source-list {
  font-size: 20px;
  color: #333;
  :first-child {
    font-size: 15px;
    color: #636363;
    margin: 5px 0 5px 0;
  }
  li {
    height: 40px;
    display: flex;
    align-items: center;
  }
}

.hover {
  border: 1px solid green;
  cursor: pointer;
}

.new-source {
  display: flex;
  justify-content: space-between;
}

.pheed-menu {
  display: none;
  transform: translateX(100%);
}
.pheed-menu.open {
  transition: 
  transform .5s cubic-bezier(0.61,-0.19, 0.7,-0.11),
  display .5s cubic-bezier(0.61,-0.19, 0.7,-0.11);
  display: flex;
  transform: translateX(0);
}

// .hidden {display: none;}

.source-details {
  display: flex;
  height: 350px;
  border-left: 1px solid rgba(0,0,0,0.15);
  border-bottom: 1px solid rgba(0,0,0,0.15);
  border-right: 1px solid rgba(0,0,0,0.15);
  border-radius: .25rem;
  padding: 0 1rem 0 1rem;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
  img {
    margin: 1rem 2rem 1rem 0;
    height: 90px;
  }
}
  
.source-details-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 1rem;
  :first-child {
    display: flex;
    flex-direction: column;
  }
}