.splash-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 0 auto;
  width: 100%;
  min-height: 725px;
}

.splash-img {
  //background-image: image-url("mono-lake.png");
  position: relative;
  background-size: 100% 640px;
  max-height: 640px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.7);
  object-fit: contain;
  background-repeat: no-repeat;
}