.side-splash {
  position: relative;
  display: flex;
  height: 100%
}

.splash-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: sans-serif;
  width: 80%;
  min-height: 725px;
  margin-left: auto;
  margin-right: auto;
}

.splash-wrapper h1 {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  margin: .7em auto 0 auto
}

.splash-img {
  //background-image: image-url("mono-lake.png");
  margin: 2em 1em 2em 1em;
  position: relative;
  background-size: 640px;
  max-height: 640px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.7);
  object-fit: contain;
  background-repeat: no-repeat;
}

.splash-wrapper-hidden {
  display: none;
  height: 0px;
  width: 0px;
  opacity: 0;
}